// @import url('https://fonts.googleapis.com/css?family=Montserrat:700');
// @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

$brand-color: #fff;
$accent-color: #fff;
main{
	background: #9f9acf;
}
header {
	position: absolute;
	left: 0; right: 0;
	top: 0;
}
h1,h2,h3,h4,h5{
	text-align: center
}
.navbar-brand{
	// width: 49px;
	// background-image: url(../img/logo.png);
	// background-repeat: no-repeat;
	// background-size: cover;
}
.cover {
	height: 1070px;
	background-image: url(../img/rectangle.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	@media screen and (max-width: $screen-lg) {
		background-position: 0 0;
	}
	@media screen and (max-width: $screen-md) {
		background-position: 0 0;
	}
	&__title {
		font: 48px/1 Montserrat, Arial, sans-serif;
		text-transform: uppercase;
		color: $brand-color;
		padding: 25px 20px;
		position: relative;
		margin: 20vw 0 35px;
	}
	&__subtitle {
		color: $brand-color;
		font-size: 16px;
	}
}
h3{
	margin:0;
}
.about{
	// height:800px;
	background-color: #ebebeb;
	&__main{
		padding-top:100px;
	}
}
.about--info{
	padding-top:150px;
}
.batton{
	text-align: center
}
.services{
	// height:760px;
	background-color: #ebebeb;
}
.services__dl--gr{
	background-color: #dbdbdb;
	width: 400px;
	height: 380px;
}
.services__dl--w{
	background-color: #ebebeb;
	width: 400px;
	height: 380px;
}
.services__info{
	text-align: center;
	padding-top:100px;
}
.services__info--lg{
	background: url("../img/unsplash.png")no-repeat;
	height:760px;
	padding-top:300px;
}
.services__img-1{
	background: url("../img/icongraphic.png")no-repeat;

}
.services__img-2{
	background: url("../img/iconseo.png")no-repeat;
}
.services__img-3{
	background: url("../img/Icon-Web.png")no-repeat;
}
.services__img-4{
	background: url("../img/iconmobile.png")no-repeat;
}
.services__img-5{
	background: url("../img/iconservices.png")no-repeat;
}
.services__img{
	background-position: center;
	display:block;
	height:70px;
	width:70px;
	margin:0 auto;
}
.works{
	// position:absolute;
	background: url("../img/bg.png")no-repeat;
	// height:1000px;
	position:relative;
}
.slick-prev{
	top:50%;
	left: -5%
}
.slick-next{
	top:50%;
	left:auto;
	right: -5%;
}
.slick--batton{
	display: inline-block;
	position:absolute;
	
}
.slick--batton--tw{
	display: inline-block;
	position:absolute;
	
}
.slider {
	width: 70%;
	margin: 0 auto;
	display: block;
	position: relative;
}

.slider--two {
	position: relative;
	width: 100%;
}

.slider-wrap--work,
.slider-wrap--team {
	position: relative;
	width: 80%;
	margin: 0 auto;
}

.slider img {
	width: 100%;
}
.slick-dots{
	font-size: 0;
	// display: inline-block;
	// margin:0 auto;
	padding: 0;
	text-align: center;
}
.slick-dots li {
	display: inline-block;
}

.slick-dots li button {
	display: inline-block;
	width:20px;
 	height:20px;
 	border-radius: 50%;
 	background: transparent;
 	border: 2px solid #fff;
 	margin: 5px;
}
.slick-dots li:hover button,
.slick-dots li.slick-active button {
	background: #fff;
}
.team{
	background: #ebebeb;
	&__img{
		position:absolute;
		top: 0%;
		left: 50%;
		transform: translate(-50%, -50%);
		width:170px;
	}
	&__info{
		position: relative;
		margin: 90px 40px 0 40px;
		height:320px;
		text-align: center;
		width:350px;
		background: #fff;
		padding: 100px 20px 20px;
		// overflow: hidden;
		// box-sizing:border-box;
	}
	&__title h2{
		text-align: center;
		margin: 0 auto;
		padding: 0;
	}&__socials{
		position:absolute;
		height:20px;
		background: #9f9acf;
		height:70px;
		bottom:0;
		left: 0; right: 0;
	}
}
#map{
  width: 100%;
  height: 650px;
  background: #9f9acf;
  margin-bottom: 70px;
}
.forms{
	background: #9f9acf;
}
.input{
	font-style: italic;
	background: rgba(0,0,0, 0.05);
	color: #fff;
	// height: 40px;
	// 
	font-size: 14px;
	border: none;
	border-bottom:  2px solid #afafaf;
	box-shadow:none;
	// padding: 15px 20px 15px 80px;
	font-size: 16px;
	line-height: 1;
	padding: 0 ;
}
.input:focus{
	outline: none;
	box-shadow:none;
}
input[type="text"]::-webkit-input-placeholder {
    color: #fff;
   }
textarea[type="text"]::-webkit-input-placeholder {
    color: #fff;
   }
#form-bg {
	resize: none;
	height: 225px;
	text-align: top;

}